html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.topbar {
    display: grid;
    grid-template-columns: 18% 18% 25% 25% 18%;
    column-gap: 0px;
    font-size: 12px;
    align-items: center;
    background-color: #006341;
    color: white;
    height: 40px;
}

.topbar div {
    display: flex;
    margin-right: 2px;
}

.topbar .top-info {
    margin-top: 5px;
}

.topbar img {
    margin-right: 5px;
}

.topbar .top-info a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
}

.navbar .navleft {
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 5vh;
}

.navbar div img {
    width: 80%;
    height: auto;
    margin-right: -100px;
}

.navbar .navlinks {
    width: 90%;
    background-color: #F76B0E;
    margin: auto;
    margin-top: -5vh;
    font-size: 1.2rem;

}

.navbar .navlinks ul {
    margin-left: -20px;
    display: flex;
    list-style: none;
}

.navbar .navlinks ul li {
    margin: 0.5vh 2.5vh;
}

.navbar .navlinks ul a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.navbar .navlinks ul a:hover {
    color: #006341;
    border-bottom: 4px solid #006341;
    transition: 0.5s;
}

.navbar .navlinks .dropdown{
    position: relative;
}

.navbar .navlinks .dropdown-content{
    display: none;
    position: absolute;
}

.navbar .navlinks .dropdown-content a{
    display: block;
}

.navbar .navlinks .dropdown:hover .dropdown-content{
    display: block;
    z-index: 1;
    background-color: #F76B0E;
    box-shadow: 0px 0px 10px black;
    border-radius: 8px;
    padding: 5px;
    width: 35vh;
}

.schoolname {
    text-align: center;
    font-size: 1.7rem;
    color: #006341;
}

.banner {
    background-image: url("aryabalimages/photo4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    margin-top: 2vh;
}

.aboutUs {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 5vh;
    margin: 5vh;
}

.aboutUs img {
    height: auto;
    width: 90%;
}

.aboutUs img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.aboutUs .aboutheading,
.campus .aboutheading {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.aboutUs .greentext,
.ourculture .greentext,
.campus .greentext,
.facilities .greentext,
.principaldesk .greentext,
.photogallery .greentext,
.formfilling .greentext {
    font-size: 2rem;
    color: #006341;
}

.aboutUs p,
.ourculture p,
.campus p,
.facilities p {
    font-size: 1.2rem;
    color: darkslategray;
}

.aboutUs .darkslategray,
.ourculture .darkslategray,
.campus .darkslategray,
.facilities .darkslategray,
.principaldesk .darkslategray,
.photogallery .darkslategray,
.formfilling .darkslategray {
    color: darkslategray;
}

.aboutUs button {
    background-color: #F76B0E;
    color: white;
    border: 0px;
    outline: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    width: 30%;
    height: 7vh;
    font-size: 1.2rem;
    font-weight: bold;
}

.aboutUs button:hover {
    background-color: #006341;
    transform: scale(1.1);
    transition: 0.5s;
}

.ourculture {
    margin: 5vh;
}

.ourculture div {
    display: grid;
    grid-template-columns: 42% 42%;
    column-gap: 20vh;
}

.ourculture div img {
    width: 250%;
    height: auto;
    border-radius: 20px;
    border: 4px solid #F76B0E;
    box-shadow: 0px 0px 10px black;
}

.ourculture div img:hover {
    transform: scale(1.1);
    border: 4px solid #006341;
    transition: 0.5s;
}

.campus {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 5vh;
    margin: 5vh;
}

.campus .aboutcampus {
    width: 90%;
}

.campus .campusimage {
    margin-left: -12vh;
}

.campus .campusimage .campusimagesecond {
    margin-top: -22vh;
    margin-left: 5vh;
}

.campus .campusimage img {
    width: 120%;
    height: auto;
    border: 4px solid #F76B0E;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

.campus .campusimage .campusimagesecond{
    width:100%;
    height:auto;
}

.campus .campusimage img:hover {
    border: 4px solid #006341;
    transform: scale(1.1);
    transition: 0.5s;
}

.campus .campusExpl .campusflex {
    display: flex;
}

.campus .campusExpl .campusflex img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 3px dashed #006341;
    margin-right: -30vh;
    margin-top: 4vh;
}

.vision {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5vh;
    margin: 5vh 15vh 5vh 15vh;
}

.vision .visiontwo img {
    width: 100%;
    height: auto;
}

.vision div {
    background-color: #006341;
    padding: 5vh;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #006341;
}

.vision .visiontwo {
    text-align: center;
}

.vision h1,
h2 {
    color: #F76B0E;
}

.vision p {
    color: rgb(167, 255, 167);
}

.facilities {
    margin: 5vh;
}

.facilities h1,
.photogallery h1,
.formfilling h1 {
    text-align: center;
}

.facilities .facilitiesgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2vh;
    row-gap: 4vh;
}

.facilities .facilitiesgrid img {
    width: 95%;
    height: auto;
    border: 4px solid #F76B0E;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

.facilities .facilitiesgrid img:hover {
    border: 4px solid #006341;
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 0px 10px #006341;
}

.facilities .facilitiesgrid p {
    text-align: center;
    font-weight: bold;
}

.principaldesk {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 5vh;
    margin: 5vh;
}

.principaldesk img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid #F76B0E;
    box-shadow: 0px 0px 10px black;
    margin-top: 5vh;
}

.principaldesk p {
    font-size: 0.9rem;
    color: darkslategray;
    line-height: 30px;
}

.photogallery {
    margin: 5vh 15vh 5vh 15vh;
    text-align:center;
    align-items:center;
}

.photogallery .photogallerygrid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3vh;
    row-gap: 3vh;
}

.photogallery img {
    border: 4px solid #F76B0E;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

.photogallery img:hover {
    border: 4px solid #006341;
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 0px 10px #006341;
}

.photogallery .photogalleryimage2 img {
    width: 61vh;
    height: 41vh;
    object-fit: cover;
}

.formfilling {
    margin: 5vh 15vh 5vh 15vh;
    text-align: center;
}

::placeholder {
    color: rgb(189, 236, 189);
}

.formfilling .info input {
    width: 30%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0px;
    outline: 0px;
    border-radius: 10px;
    margin: 20px 10px;
    padding-left: 20px;
    background-color: #F76B0E;
}

.formfilling .info input:focus {
    transform: scale(1.1);
    background-color: #006341;
    color: white;
    box-shadow: 0px 0px 10px #006341;
    transition: 0.5s;
}

.formfilling .address textarea {
    width: 63%;
    height: 200px;
    font-family: "poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0px;
    outline: 0px;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 20px;
    background-color: #F76B0E;
    color: white;
}

.formfilling .address textarea:focus {
    transform: scale(1.2);
    background-color: #006341;
    color: white;
    box-shadow: 0px 0px 10px #006341;
    transition: 0.5s;
}

.formfilling .submit input {
    width: 20%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0px;
    outline: 0px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
    background-color: #006341;
}

.formfilling .submit input:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px #006341;
    transition: 0.5s;
}

footer{
    align-items: center;
    background-color: #006341;
    color: rgb(167, 255, 167);
    margin-bottom: -5vh;
}

.copyright{
    display: grid;
    grid-template-columns:auto auto auto ;
    column-gap: 12vh;
    margin: 5vh 10vh;
    border-bottom: 2px solid rgb(167, 255, 167);
}

.copyright h3{
    color: white;
    font-size: 1.4rem;
}

.copyright ul{
    list-style: none;
    margin-left: -6vh;
}

.copyright ul li a{
    text-decoration: none;
    color: rgb(167, 255, 167);
}

.copyright ul li a:hover{
    text-decoration: underline;
}

footer p{
    text-align: center;
}
